 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Teach In Information Teachnology</h4>
    <h5 class="meta">Charusat University</h5>
    <div class="time">2014 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">H.S.C</h4>
    <h5 class="meta">Gujarat Secondary and Higher Secondary Education Board</h5>
    <div class="time">2012 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
