<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title" href="https://github.com/soheshdoshi/CasinoGame/blob/master/casino-game-number-guessing-game1.c">Casino Royal</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Programming Languages :- C</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Casino Royal Game is a Number Guessing Game.Player deposits an initial amount to start playing a game.he guesses a number between 1 to 10 and enters the betting amount.If he wins he will get 10 times of money he bets.If he bets on the wrong number he will loss his betting amount.</p> 
                    </div><!--//details-->
</div><!--//item--> 
<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title" href="https://github.com/soheshdoshi/PortBusy/blob/master/PortBusy.java">PortBusy</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Programming Languages :- Socket Programming in Java</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In this Project, User can identify Busy PortNumber</p> 
                    </div><!--//details-->
</div><!--//item--> 
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">GDorks</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Programming Languages :- Servlet,Jsp,JDBC</div>
                      <div class="company">Database:- Mysql</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>With help of this Project, User Can Download Multimedia, text, pdf file </p> 
                    </div><!--//details-->
</div><!--//item--> 
  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Six Degree Of FreeDom Simulator</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Programming Languages :- Python 2.7  Open Source PlatForm:-Octave </div>
                      <div class="company">Python Library:-Numpy,Mathploit</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>OnGoing</p> 
                    </div><!--//details-->
</div><!--//item--> 
            </section><!--//section-->
