<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Casino Royal</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Two Member</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Casino Royal Game is a Number Guessing Game. Player deposits an initial amount to start playing a game. he guesses a number between 1 to 10 and enters the betting amount. If he wins he will get 10 times of money he bets. If he bets on the wrong number he will lost his betting amount.</p> 
                    </div><!--//details-->
</div><!--//item--> 
            </section><!--//section-->
